@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Sacramento&display=swap");
@import url("http://fonts.cdnfonts.com/css/maximum-impact");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap");
@import url("http://fonts.cdnfonts.com/css/maximum-impact");
@import url("http://fonts.cdnfonts.com/css/gotham");

.profileImage {
  background-image: url("https://www.w3schools.com/howto/img_girl.jpg");
  height: 100%;
}
/*===== VARIABLES CSS =====*/

.item-1 {
  animation: item1Animation 2s forwards;
  position: relative;
  z-index: 5;
}

@keyframes item1Animation {
  0% {
    left: 0px;
  }
  33.3% {
    left: 17.5%;
    opacity: 2;
  }
  66.7% {
    left: 35%;
    opacity: 2;
  }
  97% {
    left: 43.5%;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.item-2 {
  animation: item2Animation 0.5s forwards 0.5s;
  position: relative;
  z-index: 4;
}

@keyframes item2Animation {
  0% {
    left: 0px;
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 0;
  }
}
.item-3 {
  animation: item3Animation 0.1s forwards 1.3s;
  position: relative;
  z-index: 1;
}

@keyframes item3Animation {
  0% {
    left: 0;
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 0;
  }
}

.item-4 {
  animation: item4Animation 0.1s forwards 1.3s;
  position: relative;
  z-index: 2;
}

@keyframes item4Animation {
  0% {
    left: 0px;
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 0%;
  }
}

.item-5 {
  animation: item5Animation 0.6s forwards 0.5s;
  position: relative;
  z-index: 4;
}
@keyframes item5Animation {
  0% {
    left: 0px;
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 0;
  }
}
.item-6 {
  animation: item6Animation 2s forwards;
  position: relative;
  z-index: 5;
}

@keyframes item6Animation {
  0% {
    left: 0px;
  }
  33.3% {
    left: -17.5%;
    opacity: 2;
    z-index: 5;
  }
  66.7% {
    left: -35%;
    opacity: 2;
  }
  97% {
    opacity: 0;
    left: -44%;
  }
  98% {
    opacity: 0;
    left: -44%;
  }
  100% {
    left: -44%;
    opacity: 0;
  }
}

.item-extra {
  animation: itemExtraAnimation 2s forwards 1.7s;
  position: absolute;
  height: 84%;
  width: 12%;
  z-index: 0;
  left: -5900px;
  z-index: 6;
}

@keyframes itemExtraAnimation {
  0% {
    left: 41%;
    /* transform: rotateZ(10deg); */
  }
  /* 20%{
    left: 41%;
    transform: rotateZ(20deg);
  } 
  30%{
    left: 41%;
    transform: rotateZ(30deg);
  } 
  40%{
    left: 41%;
    transform: rotateZ(40deg);
  } 
  50%{
    left: 41%;
    transform: rotateZ(50deg);
  } 
  60%{
    left: 41%;
    transform: rotateZ(60deg);
  }
  70%{
    left: 41%;
    transform: rotateZ(70deg);
  } */
  80% {
    left: 41%;
    transform: rotateZ(90deg);
  }
  /* 70%{
    left: 41%;
    transform: translate(0%, 20%) rotate(90deg)
  } */
  /* 80%{
    left: 41%;
    transform: translate(0%, 30%) rotate(90deg) scaleY(5)
  }
  90%{
    left: 41%;
    transform: translate(0%, 60%) rotate(90deg) scaleY(10)
  } */
  100% {
    left: 41%;
    transform: translate(0%, 100%) rotate(90deg) scaleY(10);
  }
}

@media only screen and (max-width: 600px) {
  .scroll {
    top: 55% !important;
  }
}
.splide__slide.is-active {
  transform: scale(1, 1);
  background-color: #373737 !important;
  color: white !important;
}
.splide__slide.is-active p {
  color: white !important;
}

.gallery {
  scrollbar-width: thin;
  overflow: auto;
  scrollbar-color: #326aff #fff;
}

/* For Chrome, EDGE, Opera, Others */
.gallery::-webkit-scrollbar {
  width: 2px;
}
body::-webkit-scrollbar {
  width: 2px;
  background: #fff;
}
.gallery::-webkit-scrollbar-track {
  background: #fff;
}

.gallery::-webkit-scrollbar-thumb {
  background: #326aff;
}
@media (min-width: 768px) {
  .animatedText div {
    margin: 0px !important;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .react-photo-gallery--gallery img {
    width: 145px !important;
  }
}

/* .swiper-slide {
  width: 100% !important;
  
} */

.swiper-button-next {
  position: absolute;
  top: 2% !important;
  z-index: 5;
}
.swiper-button-prev {
  position: absolute;
  top: 2% !important;
  right: 8% !important;
  left: auto !important;
}

@media screen and (max-width: 998px){
  .swiper-button-next {
    top: 4% !important;
    right: 8% !important;
    /* z-index: 10 !important; */
    /* z-index: 1 !important; */
  }
  
  .swiper-button-prev {
    top: 4% !important;
    left: 8% !important;
    /* z-index: 1 !important; */
    /* z-index: 10 !important; */
  }
  
}
.swiper-button-next:after {
  content: url("../../public/right_arrow.png") !important;
}
.swiper-button-prev:after {
  content: url("../../public/left_arrow.png") !important;
}
