@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Sacramento&display=swap");
@import url("http://fonts.cdnfonts.com/css/maximum-impact");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap");

@font-face {
  font-family: "impact";
  src: local("impact"), url("../fonts//impact.ttf") format("ttf");
}
.profileImage {
  background-image: url("https://www.w3schools.com/howto/img_girl.jpg");
  height: 100%;
}
/*===== VARIABLES CSS =====*/


/* .swatch {
  display: flex;
  text-align: center;
  position: relative;
  gap:100px;
  
  div {
    width: 70px;
    height: 225px;
    // position: absolute;
    top: 0px;
    border-radius: 5px;
    border-top: solid 2px rgba(0, 0, 0, .2);
    border-left: solid 3px rgba(255, 255, 255, .2);
    border-bottom: solid 3px rgba(0, 0, 0, .2);
    text-align: center;
    box-sizing: border-box;
    transform-origin: center 90%;
    display: inline-block;
    backface-visibility: hidden;
    // margin-left: -35px;
    transform: rotate(0deg);
  }
  
  div:before {
    width: 16px;
    height: 16px;
    content: "";
    background-color: @white;
    display: inline-block;
    border-radius: 8px;
    bottom: 10px;
    position: absolute;
    margin-left: -8px;
  }
  
  div:nth-child(1) {
    background-color: @purple;
    animation: swatch-purple-motion 5s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
  }
  div:nth-child(2) {
    background-color: @blue;
    animation: swatch-blue-motion 5s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
    animation-delay:10s;
  }
  div:nth-child(3) {
    background-color: @green;
    animation: swatch-green-motion 5s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
        // animation-delay:15s;

  }
  div:nth-child(4) {
    background-color: @yellow;
    animation: swatch-yellow-motion 5s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
  }
  div:nth-child(5) {
    background-color: @orange;
    animation: swatch-orange-motion 5s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
        animation-delay:10s;

  }
  div:nth-child(6) {
    background-color: @red;
    animation: swatch-red-motion 5s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
  }
}
.transform(@fromDeg, @toDeg) {
  0% {
    transform: translateX(@fromDeg);
    
  }
  100%{
    transform: translateX(@toDeg);
    opacity:0
  }
  
} */

.item-1{
  animation: item1Animation 0.5s forwards;
  position: relative;
  

}

@keyframes item1Animation {
  0% {
    left:0px 
  }
  95%{
    left: 210px;
    opacity: 2;
  }
  100%{
    opacity: 0;
    left: 210px;
  }
}

.item-2{
  animation: item2Animation 0.5s forwards 0.5s;
  position: relative;
  

}

@keyframes item2Animation {
  0% {
    left:0px 
  }
  95%{
    left: 210px;
    opacity: 2;
  }
  100%{
    opacity: 0;
    left: 210px;
  }
}
.item-3{
  animation: item3Animation 0.5s forwards 1s;
  position: relative;
  

}

@keyframes item3Animation {
  0% {
    left:0px 
  }
  95%{
    left: 105px;
    opacity: 2;
  }
  100%{
    opacity: 0;
    left: 105px;
  }
}
.item-4{
  animation: item4Animation 0.5s forwards 1s;
  position: relative;
  

}

@keyframes item4Animation {
  0% {
    left:0px 
  }
  95%{
    left: -105px;
    opacity: 2;
  }
  100%{
    opacity: 0;
    left: -105px;
  }
}

.item-5{
  animation: item5Animation 0.5s forwards 0.5s;
  position: relative;
  

}

@keyframes item5Animation {
  0% {
    left:0px 
  }
  95%{
    left: -210px;
    opacity: 2;
  }
  100%{
    opacity: 0;
    left: -210px;
  }
}
.item-6{
  animation: item6Animation 0.5s forwards;
  position: relative;
}

@keyframes item6Animation {
  0% {
    left:0px 
  }
  95%{
    left: -210px;
    opacity: 2;
  }
  100%{
    opacity: 0;
    left: -210px;
  }
}

.item-extra{
  animation: itemExtraAnimation 2s forwards 1.5s;
  position: absolute;
  height: 80%;
  width: 10%;
  z-index: 0;
  left:-5900px;
  /* display: none; */
  
}

@keyframes itemExtraAnimation {
  0% {
    left: 41%;
    transform: rotate(-80deg);
  }
  100%{
    left: 41%;
    transform: rotate(90deg);
    transform: scaleX(10);
    height: 6rem;
    bottom: 0;
  }
}